<p>DashBoard</p>
<div class="card">
    <div class="card-head">Lorem Ipsum - DashBoard</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui sit in veniam et vel nobis similique, iure enim quisquam aperiam magni assumenda, praesentium esse placeat! Repudiandae maxime sunt incidunt vitae?
        Quasi repellendus cumque consequatur minus distinctio architecto maiores perferendis magnam amet delectus, saepe accusamus culpa tempora, placeat qui odit adipisci fuga omnis cupiditate quas eum iste alias labore. Modi, rerum?
    </div>
</div>
